In [1]:
#Import `pandas` as `pd`
import pandas as pd

In [60]:
#Read `salaries.csv` as a dataframe called `sal`.
sal = pd.read_csv('salaries.csv')

In [61]:
#Check the head of the DataFrame.
sal.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [62]:
#  Use the `.info()` method to find out how many entries there are.
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [63]:
# What is the average BasePay?
# https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean
sal['BasePay'].mean()

66325.44884050643

In [64]:
# What is the highest amount of OvertimePay in the dataset?
sal['OvertimePay'].max()

245131.88

In [65]:
#  What is the job title of JOSEPH DRISCOLL? Note: Use all caps, 
#  otherwise you may get an answer that doesn't match up 
#  (there is also a lowercase Joseph Driscoll).
mask = sal["EmployeeName"] == "JOSEPH DRISCOLL"
sal[mask]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [66]:
#  How much does JOSEPH DRISCOLL make (including benefits)?
j_d = sal[mask]

j_d['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [69]:
# double check that the totalpaybenefits is the sum of the other columns
# https://stackoverflow.com/questions/42063716/pandas-sum-up-multiple-columns-into-one-column-without-last-column
j_d.iloc[:, 3:6].sum(axis=1)

24    270324.91
dtype: float64

In [75]:
#  What is the name of highest paid person (including benefits)?
mask1 = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()
n_f = sal[mask1]
n_f['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [77]:
# What is the name of lowest paid person (including benefits)?
# Do you notice something strange about how much he or she is paid?
mask2 = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()
sal[mask2]
# Strangeness = negative pay! Stealing from workers!

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [82]:
# What was the average (mean) BasePay of all employees per year? (2011-2014)?
# https://stackoverflow.com/questions/29314424/pandas-using-groupby-to-get-mean-for-each-data-category
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [98]:
# How many unique job titles are there?
len(sal['JobTitle'].unique())

2159

In [99]:
# double check that's right - 
sal.nunique(axis=0)

Id                  148654
EmployeeName        110811
JobTitle              2159
BasePay             109489
OvertimePay          65998
OtherPay             83225
Benefits             98465
TotalPay            138486
TotalPayBenefits    142098
Year                     4
Notes                    0
Agency                   1
Status                   0
dtype: int64

In [118]:
# What are the top 5 most common jobs?
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [203]:
# How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
# https://blog.softhints.com/pandas-how-to-filter-results-of-value_counts/#step1howvalue_countsworks
sal = pd.read_csv('salaries.csv')
year = sal['Year'] == 2013
df = sal[year]
df['JobTitle'].value_counts()[df['JobTitle'].value_counts() == 1]

# Answer = 202

Electroencephalograph Tech 1      1
Animal Care Supervisor            1
Dir, Log Cabin Ranch (SFERS)      1
Airport Mechanical Maint Sprv     1
Secretary, Library Commission     1
                                 ..
Cfdntal Sctry to City Atty        1
Traf Signal Electrician Sup II    1
Chief Dep Adlt Prob Of (SFERS)    1
PrDAInvest,SpecUnit (SFERS)       1
Principal Museum Preparator       1
Name: JobTitle, Length: 202, dtype: int64

In [204]:
df.groupby('JobTitle').filter(lambda x: len(x) == 1).JobTitle

72925                  Chief of Police
72926           Chief, Fire Department
72929     Dep Dir for Investments, Ret
72933       Gen Mgr, Public Trnsp Dept
72945                            Mayor
                      ...
106963         IS Technician Assistant
108503               Head Photographer
109811       Animal Control Supervisor
110512            Special Assistant 14
110516         Senior Assessment Clerk
Name: JobTitle, Length: 202, dtype: object