# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
my_dict = { 0 : {'evolution' : 'Ivysaur', 
        'hp' : '45',
        'name' : 'Bulbasaur', 
        'pokedex' : 'yes',
        'type' : 'grass'},
           1 : {'evolution' : 'Charmeleon', 
        'hp' : '39',
        'name' : 'Charmander', 
        'pokedex' : 'no',
        'type' : 'fire'},
           2 :

### Step 3. Assign it to a variable called pokemon

         cat      value
0  evolution    Ivysaur
1         hp         45
2       name  Bulbasaur
3    pokedex        yes
4       type      grass

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.