In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('ecommerce.txt')

In [5]:
ecom.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14

In [8]:
#9999 rows with 14 columns
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [12]:
# avarage purchase price = 50.34
ecom['Purchase Price'].mean()

50.34730200000025

In [19]:
# What were the highest and lowest purchase prices?
# highest = 99.99
# lowest = 0.0
print(ecom['Purchase Price'].max())
print(ecom['Purchase Price'].min())

99.99
0.0

In [23]:
# How many people have English 'en' as their Language of choice on the website?
# 'en' rows = 1,098
mask = ecom['Language'] == 'en'
ecom[mask]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\r\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\r\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\r\nShortmouth, AK 9...",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\r\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\r\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\r\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,3865 Davis Meadow Suite 915\r\nPort Stacieview...,11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\r\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\r\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\r\nWest Keithfurt,...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [28]:
# How many people have the job title of "Lawyer"?
#  30!
mask = ecom['Job'] == 'Lawyer'
len(ecom[mask])

30

In [42]:
# How many people made the purchase during the AM and how many people made the purchase during PM? HINT: value_counts().
ecom = pd.read_csv('ecommerce.txt')
ecom.set_index('AM or PM', inplace=True)
ecom.index.value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [56]:
#  What are the 5 most common Job Titles?
ecom = pd.read_csv('ecommerce.txt')
ecom.set_index('Job', inplace=True)
ecom.index.value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

In [68]:
# Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?
ecom = pd.read_csv('ecommerce.txt')
mask = ecom['Lot'] == '90 WT'
ecom[mask]
# 90 WT Purchase Price = '75.10'

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,50398 Mccoy Rest Suite 597\r\nSouth Garyboroug...,90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [73]:
# What is the email of the person with the following Credit Card Number: 4926535242672853
ecom = pd.read_csv('ecommerce.txt')
mask = ecom['Credit Card'] == 4926535242672853
ecom[mask]
# email = 'bondellen@williams-garza.com'

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\r\nJoneshaven, MN ...",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [90]:
# How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
ecom = pd.read_csv('ecommerce.txt')
mask1 = ecom['CC Provider'] == 'American Express'
mask2 = ecom['Purchase Price'] > 95.00
len(ecom[mask1 & mask2])
#  39!

39

In [143]:
#  Hard: How many people have a credit card that expires in 2025? HINT: apply and slicing
ecom = pd.read_csv('ecommerce.txt')

def get_year_from_obj(obj):
    return '20' + str(obj)[-2:]
ecom['CC Exp Date'] = ecom['CC Exp Date'].apply(get_year_from_obj)

mask = ecom['CC Exp Date'] == '2025'
len(ecom[mask])

#  1,033!

1033

In [156]:
#  Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) HINT: apply and split
ecom = pd.read_csv('ecommerce.txt')

def find_em_hosts(email_add):
    return email_add.split('@')[1]

ecom['Email'] = ecom['Email'].apply(find_em_hosts)

ecom.set_index('Email', inplace=True)
ecom.index.value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64